!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body.js-dispatcher{ data: { 'dispatcher-page' => 'article' } }
    = partial 'shared/header'

    %main{ role: 'main' }
      %article.row.article.js-has-headingLink{ role: 'article' }
        .cell.well.well--l

          %h1{ class: ('js-orphan' unless current_page.data.allow_orphan) }= current_page.data.title

          .lead.mbl.js-ophan
            :markdown
              #{ current_page.data.description }

          = find_and_preserve do
            = yield

          .article-footer
            .split
              .split-cell
                %time.tsi.tss= pretty_date(current_page.data.date)
              .split-cell
                = link_to 'Subscribe via RSS', links.feedburner, class: 'link link--underlined tss'

    = partial 'shared/footer-scripts'
