!!! 5
%html{ :lang => 'en' }
  = partial 'shared/head'

  %body{ class: page_classes }

    = partial 'shared/header'

    %section.row.row--a
      .cell.cell--s.well.well--l
        .bchb.pal.tac.tci
          %h1= current_page.data.title
          %time.label.label--invert= pretty_date(current_page.data.date)

    %section.row
      .cell.cell--s.well.well--l
        %article.post.mbl
          = find_and_preserve do
            = yield

        .bucket
          .bucket-media
            = image_tag 'avatar.jpg', class: 'thumb', width: 80, height: 80
          .bucket-content
            %h4.tfh John D. Jameson
            %p
              Front-end Developer Apprentice at
              = link_to 'Code School', 'https://www.codeschool.com/'

    = partial 'shared/footer'
