- page = current_page.data

!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body.js-dispatcher{ data: { 'dispatcher-page' => 'article' } }
    = partial 'shared/header'

    %main{ role: 'main' }
      %article.row.article.js-has-headingLink{ role: 'article' }
        .cell.well.well--l

          %h1= page.allow_widow ? page.title : prevent_widow(page.title)

          .lead.mbl
            :markdown
              #{ prevent_widow(page.description) }

          = find_and_preserve do
            = yield

          .article-footer
            .split
              .split-cell
                %time.tsi.tss= pretty_date(page.date)
              .split-cell
                = link_to 'Subscribe via RSS', links.feedburner, class: 'link link--underlined tss'

    = partial 'shared/footer-scripts'
