!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body
    = partial 'shared/header'

    %section.row.bc--shark
      .cell.well.well--l
        .tci
          %time.label.label--invert.dib.mbm= pretty_date( current_page.data.date )
          %h1= current_page.data.title
          %p.mbf.tcis.tsl.tsi= current_page.data.description

    %section.row
      .cell.well.well--xl
        %article.post.js-sidenotes
          = find_and_preserve do
            = yield

        .card

          .bucket
            .bucket-media
              = image_tag 'avatar.jpg', class: 'thumb', width: 100, height: 100
            .bucket-content
              %p.label.mbf Written by
              %h4.tfh John D. Jameson
              %p.tsm
                Front-end Developer at
                = link_to 'Code&nbsp;School', 'https://www.codeschool.com/'
