- page = current_page.data

= wrap_layout :layout do

  %article.row.article{ role: 'article' }
    %section.cell.well.well--l
      .mv-g.mv-g--centered_l
        .mv-g-b.mv-g-b--4of5_m.mv-g-b--5of5_l

          %h1.title.tac_l= page.allow_widow ? page.title : prevent_widow(page.title)

      .mv-g.mv-g--centered_l
        .mv-g-b.mv-g-b--4of5_m.mv-g-b--3of5_l

          .lead.mbl
            :markdown
              #{ prevent_widow(page.description) }

          = find_and_preserve do
            = yield

      .article-footer
        .split
          .split-cell
            %time.tsi.tss= pretty_date(page.date)
          .split-cell
            = link_to 'Subscribe via RSS', links.feedburner, class: 'link link--underlined tss'
