!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body

    %section.hero
      .hero-content
        .hero-header
          = partial 'shared/header'

        .cell.cell--s
          .pbl.ptl.tac.tci
            %time.label.label--invert= pretty_date( current_page.data.date )
            %h1= current_page.data.title

    %section.row
      .cell.cell--s.well.well--l
        %article.post
          = find_and_preserve do
            = yield

        .card

          .bucket
            .bucket-media
              = image_tag 'avatar.jpg', class: 'thumb', width: 100, height: 100
            .bucket-content
              %p.label.mbf Written by
              %h4.tfh John D. Jameson
              %p.tsm
                Front-end Developer at
                = link_to 'Code&nbsp;School', 'https://www.codeschool.com/'

    = partial 'shared/footer'
