!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body
    = partial 'shared/header'

    %section.row.bc--shark
      .cell.well.well--l
        .tci
          %time.label.label--invert.dib.mbm= pretty_date( current_page.data.date )
          %h1.js-orphan= current_page.data.title
          %p.mbf.tcis.tsl.tsi= current_page.data.description

    %section.row.has-sector
      .cell
        %article.post.js-sidenotes

          .g.sector
            .g-b.g-b--l--2of3.sector-item.sector-item--a.sector-item--a--invert
              .well.well--l.prs--l
                .cell.cell--s

                  = find_and_preserve do
                    = yield

            .g-b.g-b--l--1of3.sector-item.sector-item--b.sector-item--b--invert.dn.db--l
              .well.well--l

    = partial 'shared/footer'
