!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'The Middleman'

    = stylesheet_link_tag 'application'
    = javascript_include_tag "//use.typekit.net/gqu6ggi.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body{ class: page_classes }

    %header.row
      .cell.well
        .group
          .fl
            %a{:href => "/"}
              = image_tag 'johndjameson-logo.svg', :height => 60, :width => 60
            %p.dib.mbf.tsi He's got character.
          .fr
            %a{:href => "/"} Home
            %a{:href => "/blog"} Blog

    = yield

    %footer.row.row--a.tci
      .cell.well.well--l
      %p Built using MVCSS and Middleman. Check out the source code on GitHub.
