!!! 5
%html{ lang: 'en' }
  = partial 'shared/head'

  %body
    = partial 'shared/header'

    %main{ role: 'main' }
      = yield

    = partial 'shared/footer'
    = partial 'shared/footer-scripts'
