:ruby
  parameters = [
    "default-tab=#{ tabs }",
    "height=#{ height }",
    "theme-id=#{ theme }",
    'embed-version=2'
  ].join('&')

  options = {
    allowfullscreen: 'true',
    allowtransparency: 'true',
    frameborder: 'no',
    height: height,
    scrolling: 'no',
    src: "https://codepen.io/#{ user }/embed/#{ pen }/?#{ parameters }",
    style: 'width: 100%'
  }

%iframe{ options }
