---
title: 'About'
---

%section.row.mbm--m
  .cell.well.well--l

    .mv-g
      .mv-g-b.mv-g-b--2of5_l.tac_l

        %h1.srt= prevent_widow('About')

        = image_tag 'hey-jdj.svg', alt: 'Hey, JDJ!', class: 'mbs'

        .tsi.tss
          %p.mbf.di.db_m Questions asked by people who definitely aren’t me.
          %p.mbf.di.db_m Send yours to #{ link_to '@johndjameson', links.twitter, class: 'link link--underlined' }.

      .mv-g-b.mv-g-b--4of5_m.mv-g-b--3of5_l

        .article
          :markdown

            Are you available for hire?
            ---------------------------

            Nope, I'm keeping busy day to day over at ye olde
            #{ link_to 'Code School', data.links.codeschool }.

            Is it true I can talk to you on Twitter?
            ----------------------------------------

            You bet &mdash; I'm #{ link_to '@johndjameson', data.links.twitter }
            over there. If you have feedback on an article or suggestions for a
            future topic, Twitter's the best place to start a conversation with me.

            How many Star Wars audiobooks do you own?
            -----------------------------------------

            Five so far, and they're all on Sith Lords. It feels strange getting
            back into Star&nbsp;Wars after the whole prequel fiasco, but listening
            to the audiobooks has been _a lot_ of fun.

            What do you think of&thinsp;&hellip;
            ------------------------------------

            It depends.

            Nobody really asked these questions, did they?
            ----------------------------------------------

            Hey, I remember you &mdash; you're the one who spoiled Santa Claus for
            Marielle Molina in the 2nd grade!

            Anything else I should know about you?
            --------------------------------------

            I bought a lenticular poster of a bald eagle to hang on my bedroom
            wall. It is, without a doubt, the _coolest thing_ I have ever owned.
            Shout-out to kitschy museum gift shops.
