---
description: 'John D. Jameson presents a bunch of blog posts on web typography.'
title: 'Web Typography'
---

:ruby
  posts = get_posts()

  latest_post = posts.first

%section.row.bc-black.c-white
  .cell.well.well--4

    %p.mbf.tsi.tsl
      John D. Jameson
      %span.c-red (me)
      presents a bunch of blog posts&nbsp;on

    %h1.mv-heroTitle.js-heroTitle Web Typography

    %p.mbf.tar.tsi.tsl
      Because he’s a nerd
      %span.c-red (and maybe you are,&nbsp;too)

%section.row.mbm--m
  .cell.well.well--l
    .mv-g.mv-g--centered
      .mv-g-b.mv-g-b--3of5_m

        %h2.heading.heading--2 Latest post

        .mbl
          %p.has-manicule.mbf
            = image_tag 'manicule.svg', alt: '', class: 'manicule dn db_m'
            = link_to latest_post.data.title, latest_post, class: 'link link--underlined'

          %time.db.mbs.tsi.tss= pretty_date(latest_post.data.date)

          %p.mbs= latest_post.data.description

          = link_to 'Continue Reading', latest_post, class: 'link link--underlined link--underlined--s tss'

        %h2.heading.heading--2 More posts

    %ul.list
      - posts.drop(1).each do |post|
        %li.list-item
          .mv-g.mv-g--centered
            .mv-g-b.mv-g-b--2of5_m
              = link_to post.data.title, post, class: 'link link--underlined'
            .mv-g-b.mv-g-b--1of5_m
              %time.tsi.tss= pretty_date(post.data.date)
