---
description: 'Fonts, more fonts, and front-end development.'
title: 'Web Typography'
---

:ruby
  posts = get_posts()

  latest_post = posts.first

%section.row.bc-black.c-white
  .cell.well.well--2.well--4_m

    %p.mbs.tsi.tsl.tac.tal_m
      John D. Jameson
      %span.c-red (me)
      presents a&nbsp;bunch&nbsp;of&nbsp;things&nbsp;about

    %h1.srt Web Typography
    = image_tag 'web-typography.svg', width: 975, height: 65, class: 'mv-heroTitle mbs w100p'

    %p.mbf.tac.tar_m.tsi.tsl
      Because he’s a nerd
      %span.c-red (and&nbsp;maybe&nbsp;you&nbsp;are,&nbsp;too)

%section.row
  .cell.well.well--l.mbf
    .mv-strikeAround.mbl
      %h2.heading--uppercase Projects

    .mv-g.has-cropHeight
      .mv-g-b.mv-g-b--3of5_m.mbm.mbf--m
        = link_to links.typestudies, class: 'db' do
          %p.srt Type Specimens
          = image_tag 'type-studies@2x.png', class: 'mv-thumbnail'

      .mv-g-b.mv-g-b--2of5_m.has-cropHeight
        = link_to links.typespecimens, class: 'mv-cropHeight_m mv-thumbnail' do
          %p.srt Type Studies
          = image_tag 'type-specimens@2x.jpg', class: 'mv-thumbnail-media w100p'

%section.row.mbm--m
  .cell.well.well--l
    .mv-strikeAround.mbl
      %h2.heading--uppercase Blog Posts

    .mv-g
      .mv-g-b.mv-g-b--3of5_m.mbl_M
        %h3.heading.heading--2 Latest Post

        .has-manicule.mbl
          .mv-manicule.dn_1180
            = image_tag 'manicule.svg', alt: '', class: 'mv-manicule-image'
            %p.mv-manicule-text New

          = link_to latest_post.data.title, latest_post, class: 'link link--underlined'

          %time.db.mbs.tsi.tss= pretty_date(latest_post.data.date)

          %p.mbs= latest_post.data.description

          = link_to 'Continue Reading', latest_post, class: 'link link--underlined link--underlined--s tss'

        %h3.heading.heading--2 More Posts

        %ul.list
          - posts.drop(1).each do |post|
            %li.list-item
              .mv-g.mv-g--centered
                .mv-g-b.mv-g-b--2of3_m
                  = link_to post.data.title, post, class: 'link link--underlined'
                .mv-g-b.mv-g-b--1of3_m
                  %time.tsi.tss= pretty_date(post.data.date)

      .mv-g-b.mv-g-b--2of5_m
        %h3.heading.heading--2 Interviews

        %ul.list.mbm
          - data.interviews.each do |interview|
            %li.list-item
              %p.mbf
                = link_to interview.title, interview.url, class: 'link link--underlined'
              %time.tsi.tss= interview.date

        %h3.heading.heading--2 CSS-Tricks

        %ul.list.mbm
          - data.css_tricks_posts.each do |post|
            %li.list-item
              %p.mbf
                = link_to post.title, post.url, class: 'link link--underlined'
              %time.tsi.tss= post.date

        %h3.heading.heading--2 Code School Blog

        %ul.list
          - data.codeschool_posts.each do |post|
            %li.list-item
              %p.mbf
                = link_to post.title, post.url, class: 'link link--underlined'
              %time.tsi.tss= post.date
