---
title: Home
description: "Front-end Developer at Code School"
---

%section.row.has-sector
  .cell
    .g.sector.tci
      .g-b.g-b--m--1of3.sector-item.sector-item--a
        .well.well--l.well--m--xl

          .tac
            = image_tag 'avatar.jpg', class: 'thumb dib', width: 140, height: 140
            %p.label.label--invert.mbf John D. Jameson
            %p
              Front-end Devloper at
              %span.db
                = link_to 'Code School', 'https://www.codeschool.com/',
                  class: 'link link--bordered link--inverted'

      .g-b.g-b--m--2of3.sector-item.sector-item--b
        .well.well--l.well--m--xl.plm--m
          - post = get_posts().first

          %p.label Latest Post

          = link_to post.data.title, post.url, class: 'link link--inverted h2 db'
          %p= post.data.description

          = link_to 'Read It', post.url, class: 'btn'

%section.row
  .cell.well.well--l

    %h2.label.mbm Archive
    %ul.list.list--divided
      - get_posts().drop(1).each do |post|
        %li.list-item.split.split--responsive
          .split-cell.prs
            = link_to post.data.title, post.url, class: 'link'
          .split-cell
            %time.label= pretty_date(post.data.date)
