---
description: 'John D. Jameson’s nerdy blog. Learn web typography from my tutorial blog posts.'
title: 'Web Typography'
---

:ruby
  posts = get_posts()

  latest_post = posts.first

%section.row.bc-black.c-white
  .cell.well.well--2.well--4_m

    %p.mbs.tsi.tsl.tac.tal_m
      John D. Jameson
      %span.c-red (me)
      wrote a&nbsp;bunch&nbsp;of&nbsp;blog&nbsp;posts&nbsp;on

    %h1.srt Web Typography
    = image_tag 'web-typography.svg', width: 975, height: 65, class: 'mv-heroTitle mbs w100p'

    %p.mbf.tac.tar_m.tsi.tsl
      Because he’s a nerd
      %span.c-red (and&nbsp;maybe&nbsp;you&nbsp;are,&nbsp;too)

.row
  .cell
    .has-heroSticker
      %p.mv-heroSticker.mbf.js-heroSticker

%section.row.mbm--m
  .cell.well.well--l
    .mv-g
      .mv-g-b.mv-g-b--3of5_m.mbl_M
        %h2.heading.heading--2 Latest post

        .has-manicule.mbl
          .mv-manicule.dn_1180
            = image_tag 'manicule.svg', alt: '', class: 'mv-manicule-image'
            %p.mv-manicule-text New

          = link_to latest_post.data.title, latest_post, class: 'link link--underlined'

          %time.db.mbs.tsi.tss= pretty_date(latest_post.data.date)

          %p.mbs= latest_post.data.description

          = link_to 'Continue Reading', latest_post, class: 'link link--underlined link--underlined--s tss'

        %h2.heading.heading--2 More posts

        %ul.list.mbl
          - posts.drop(1).each do |post|
            %li.list-item
              .mv-g.mv-g--centered
                .mv-g-b.mv-g-b--2of3_m
                  = link_to post.data.title, post, class: 'link link--underlined'
                .mv-g-b.mv-g-b--1of3_m
                  %time.tsi.tss= pretty_date(post.data.date)

        %h2.heading.heading--2 On the Code School Blog

        %ul.list
          - data.codeschool_posts.each do |post|
            %li.list-item
              .mv-g.mv-g--centered
                .mv-g-b.mv-g-b--2of3_m
                  = link_to post.title, post.url, class: 'link link--underlined'
                .mv-g-b.mv-g-b--1of3_m
                  %time.tsi.tss= post.date

      .mv-g-b.mv-g-b--2of5_m
        .bdl2px_m.plm_m
          %h2.heading.heading--3.mbs Projects

          %ul.list.list--s.mbm
            %li.list-item
              %p.mbf Type Specimens
              = link_to 'typespecimens.io', links.typespecimens, class: 'link link--underlined tss'

            %li.list-item
              %p.mbf Type Studies
              = link_to 'typestudies.com', links.typestudies, class: 'link link--underlined tss'

          %h2.heading.heading--3.mbs Cool People

          %ul.list.list--s
            %li.list-item
              %p.mbf Dan Denney
              = link_to 'dandenney.com', 'http://dandenney.com/', class: 'link link--underlined tss'

            %li.list-item
              %p.mbf Drew Barontini
              = link_to 'drewbarontini.com', 'http://drewbarontini.com/', class: 'link link--underlined tss'

            %li.list-item
              %p.mbf Drew Powers
              = link_to 'pow.rs', 'http://pow.rs/', class: 'link link--underlined tss'

            %li.list-item
              %p.mbf James Blevins
              = link_to 'james-blevins.com', 'http://www.james-blevins.com/', class: 'link link--underlined tss'
