---
title: Home
description: "Front-end Developer Apprentice at Code School"
---

%section.hero.hero--ampersand
  .hero-content
    .hero-header
      = partial 'shared/header'
    .g.mtm
      .g-b.g-b--m--1of2
        %h1 Hey, there.
        %p I&rsquo;m John D. Jameson—<strong>front‑end developer</strong> and avid indoorsman in Orlando, Florida.
        %p I work (and learn) at Code School, geek out over CSS architecture, and love me some web typography.

%section.row
  .cell.cell--s.well.well--l
    - get_posts()[0..0].each do |post|
      = link_to post.data.title, post.url, class: 'h2 tfb'
      %time.label.db.mbm= pretty_date(post.data.date)
      %p= post.data.description

      .card
        %h2.mbs Blog Posts
        %ul.split.split--divided.split--responsive
          - get_posts()[1..get_posts().length].each do |post|
            %li.split-item
              .split-cell.split-cell--fluid.prs
                = link_to post.data.title, post.url, class: 'h3 tfb'
              .split-cell.split-cell--fixed
                %time.label= pretty_date(post.data.date)
